<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand text-white logo" href="#page1">LOGO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"></button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase m-lg-auto">
              <li class="nav-item"><a class="nav-link menu-top-link" href="#page1">Home</a></li>
              <li class="nav-item"><a class="nav-link menu-top-link" href="#page2">Work</a></li>
              <li class="nav-item"><a class="nav-link menu-top-link" href="#page6">Contact</a></li>
              <li class="nav-item"><a class="nav-link menu-top-link" href="#page4">About Me</a></li>
            </ul>
          </div>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
              <li class="nav-item"><a class="nav-link menu-top-link btn-danger btn-lg"  href="/logout">Log out</a></li>
              
          </div>
        </div>
      </nav>
